In [ ]:
import pandas as pd
df=pd.read_csv("C:/Users/lsheram/Documents/Python Scripts/Data Science Certificate/Popular_Baby_Names.csv")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.at

In [ ]:
first_name = df["Child's First Name"]

In [ ]:
first_letter = []
for name in first_name:
    first_letter.append(name[0])

In [ ]:
first_letter

In [ ]:
df.count()

In [ ]:
df.head(10)

In [ ]:
df["First Letter True"] = first_letter

In [ ]:
first_letter

In [ ]:
count = first_letter.count("A") 
print(count)

In [ ]:
df.count(level="First Letter True")

In [ ]:
df["First Letter True"].value_counts("Gender")

In [77]:
df.groupby(["First Letter True", "Gender"]).size()

First Letter True  Gender
A                  FEMALE    1835
                   MALE      1298
B                  FEMALE     314
                   MALE       409
C                  FEMALE     518
                   MALE       542
D                  FEMALE     250
                   MALE       433
E                  FEMALE     643
                   MALE       582
F                  FEMALE     189
                   MALE       138
G                  FEMALE     301
                   MALE       275
H                  FEMALE     298
                   MALE       212
I                  FEMALE     224
                   MALE       241
J                  FEMALE     655
                   MALE      1198
K                  FEMALE     537
                   MALE       354
L                  FEMALE     688
                   MALE       475
M                  FEMALE     895
                   MALE       905
N                  FEMALE     348
                   MALE       317
O                  FEMALE      50
                   MALE       146
P                  FEMALE     203
                   MALE       181
Q                  FEMALE      23
                   MALE        15
R                  FEMALE     305
                   MALE       401
S                  FEMALE     926
                   MALE       531
T                  FEMALE     210
                   MALE       239
U                  MALE        20
V                  FEMALE     215
                   MALE        74
W                  FEMALE      42
                   MALE       112
X                  FEMALE      14
                   MALE        40
Y                  FEMALE      91
                   MALE       216
Z                  FEMALE     159
                   MALE       131
dtype: int64